@use '../helpers' as *;

.icon {
  display: inline-flex;
  align-items: center;
  column-gap: rem(10);

  &::after {
    --size: #{rem(24)};


    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;

    @include square(var(--size));

    @include laptop {
      --size: #{rem(20)};
    }
  }
}

